
<div id="contact">
    <ul>
        <li><a href="mailto:oancea.dragosh@gmail.com" class="icon-symbol" rel="mail"></a></li>
        <li><a href="http://www.linkedin.com/in/dragosh" target="_blank" class="icon-symbol" rel="linkedin"></a></li>
        <li><a href="https://github.com/dragosh" target="_blank" class="icon-symbol" rel="github"></a></li>
        <li><a href="https://www.facebook.com/oancea.dragosh" target="_blank" class="icon-symbol" rel="facebook"></a></li>
        <li><a href="https://twitter.com/oancea_dragosh" target="_blank" class="icon-symbol" rel="twitter"></a></li>
        <li><a href="https://plus.google.com/u/0/101141570411096853806/posts" target="_blank" class="icon-symbol" rel="google"></a></li>
    </ul>
</div>
