<div id="experience">
    <h2>Experience</h2>
    <ul>
        <li class="tpcbf">
            <h2>Senior Web Developer</h2>
            <h3><a href="http://thispagecannotbefound.com" target="_blank">thispagecannotbefound.com</a> <span class="date">October 2011 – April 2013</span></h3>

            <div class="tasks">
                <strong>Creating and Maintaining :</strong>
                <ol>
                    <li> Corporate websites;</li>
                    <li> FB Apps;</li>
                    <li> Web Mobile Apps (single page applications);</li>
                    <li> Internal structuring;</li>
                </ol>
            </div>
        </li>

        <hr>

        <li class="kubis">
            <h2>Senior Web Developer</h2>
            <h3><a href="http://kubisinteractive.com" target="_blank">Kubis Interactive</a> <span class="date">July 2008 – October 2011</span></h3>

            <div class="tasks">
                <strong>Creating and Maintaining :</strong>
                <ol>
                    <li> Promotional Brand Campaigns;</li>
                    <li> Corporate websites;</li>
                    <li> FB Apps;</li>
                    <li> Intranet Apps;</li>
                    <li> Server Administrator (LAMP);</li>
                </ol>
            </div>
        </li>

        <hr>

        <li class="seniorinteractive">
            <h2>Senior Web Developer</h2>
            <h3><a href="http://seniorinteractive.ro" target="_blank">Senior Interactive</a> <span class="date">November 2005 – July 2008</span></h3>

            <div class="tasks">
                <strong>Creating and Maintaining :</strong>
                <ol>
                    <li> Promotional Brand Campaigns;</li>
                    <li> Corporate websites;</li>
                    <li> Intranet Apps;</li>
                </ol>
            </div>
        </li>

        <hr>

        <li class="mirabilis">
            <h2>Junior Web Developer</h2>
            <h3>Mirabilis Media <span class="date">September 2003 – October 2005</span></h3>

            <div class="tasks">
                <ol>
                    <li> Maintaining high traffic websites;</li>
                    <li> Maintaining government website / internal applications;</li>
                    <li> Creating small websites / intranet applications;</li>
                    <li> Server Administrator;</li>
                </ol>
            </div>
        </li>
    </ul>


</div>

