
<div id="home">

    <a href="/" class="avatar"><img src="/images/avatar.jpg" alt="Dragos Oancea Zevri"></a>
    <div class="about">
        <h2>Dragos Oancea Zevri</h2>

        <p>I am a <span>Senior Web Developer</span> from Romania, currently living in Amsterdam NH, who's been building websites for 10 years now. I am passionate about web technologies, constantly trying to learn new things and improve my skills.</p>
    </div>

    <blockquote>
        Design for the future, because it will be here sooner than you think.

        <cite>Eric S. Raymond, "The Art of Unix Programming"</cite>
    </blockquote>
</div>
