<div id="skills">
    <h2>Skills</h2>

    <div class="column">
        <h3>Programming</h3>
        <ul>
            <li>
                Javascript ES 4.x
                <em>jQuery(UI/Mobile), Zepto, Backbone, RequireJS, Handlebars, TweenMax</em>
            </li>
            <li>PHP 5.x
                <em>CodeIgniter, Laravel, CakePHP</em>
            </li>
            <li>NodeJS 0.8.x
                <em class="inline">Express, Meteor</em>
            </li>
            <li>Bash</li>

        </ul>
    </div>

    <div class="column">
        <h3>Markup / Styling / Data</h3>
        <ul>
            <li>
                (X)HTML(4,5), CSS(2,3), SASS, LESS
                <em>(Bootstrap, Foundation, Flat-UI)</em>
            </li>
            <li>JSON2, JSON(p)</li>
            <li>XML, XPath</li>

        </ul>
    </div>
    <div class="column">
        <h3>API'S</h3>
        <ul>
            <li>Facebook <em class="inline">php, javascript</em></li>
            <li>Twitter <em class="inline">php, javascript</em></li>
            <li>Google
                <em class="inline">Maps, Youtube, OAuth2, Analytics</em>
            </li>
            <li>LinkedIn</li>
            <li>Echonest, Spotify</li>
            <li>Tropo</li>
        </ul>
    </div>
    <div class="column">
        <h3>Versioning / Builds / Webservers</h3>
        <ul>
            <li>SVN, Git, HG(mercurial)</li>
            <li>Jenkins</li>
            <li>GruntJS, Apache Ant</li>
            <li>Apache 2.x, Nginx 1.x</li>
        </ul>
    </div>

    <div class="column">
        <h3>Tools</h3>
        <ul>
            <li>Terminal</li>
            <li>Sublime Text, Coda, Vim</li>
            <li>Querious/Sequel Pro</li>
            <li>Photoshop</li>
            <li>Transmit</li>
        </ul>
    </div>


    <div class="column">
        <h3>DBMS</h3>
        <ul>
            <li>
                MySQL 5.x
                <em class="inline">MyISAM, InnoDB</em>
            </li>
            <li>NoSQL
                <em class="inline">MongoDB</em>
            </li>
            <li>PostgreSQL</li>

        </ul>
    </div>

</div>

