/*
|--------------------------------------------------------------------------
|  Copyright  © Dragos Oancea-Zevri
|--------------------------------------------------------------------------
*/
@charset "UTF-8";

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

//import components

@import "../components/normalize";
@import "../components/reset";
@import "../components/bourbon/bourbon";
@import "../components/mixins";


//Vars
$sidebar_width: 180;
$page_width:809px;
$page_height:462px;

@include font-face(LigatureSymbols, "fonts/LigatureSymbols-2.09");

.icon-symbol {
  &:before{ content:attr(rel); }
  font-family: "LigatureSymbols";
  color: #fff;
  font-size:em(24);
  text-decoration: none;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  min-width: 290px;
  background: transparent url("../images/body.jpg") no-repeat center center fixed;
  @include prefixer(text-rendering, optimizeLegibility, webkit moz ms o spec);
  @include prefixer(font-smoothing, antialiased, webkit moz ms o spec);
  @include prefixer(text-size-adjust, 100%, webkit moz ms o spec);
  @include prefixer(background-size, cover, webkit moz ms o spec);
  color: #666;
  font-family: $helvetica;
  font-size: em(12, 10);
}
#nav {
  //display: none;
  a.close{
    font-size: em(32);
    display: block;
    padding: .4em;
    position:absolute;
    bottom:0;
    font-size: em(20);
    &.opened{
      content:"close"
    }
  }
  a.avatar{
    display: block;
    width: 55px;
    height:55px;
    img{
      width: 100%;
      @include border-top-radius(10px);;
      //border-radius:10px;
    }
  }

  @include linear-gradient(to right, #d0c9c9, #f7f5f5);

  z-index: 1000;
  height: 100%;
  position: fixed;
  height: 90%;
  border-radius: 10px;
  margin: 2em 0;
  opacity: .8;
  width: em($sidebar_width / 4);
  left: 20px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0, .6);
  //@include debug();
  &:hover{
    opacity: .9;
  }
  &.open{
    width: em($sidebar_width);
  }
  ul {
    clear:both;
    display: block;
    width: 100%;
    list-style: none;
    li {
      @include transition (all .3s ease-in-out);
      line-height: 2em;
      padding: 0.6em 0;
      //@include debug();
      //border-bottom: 1px solid rgba(0,0,0, .4);
      //border-top: 1px solid rgba(255,255,255, .1);
      position:relative;
      width: 100%;
      display: block;

      a.icon-symbol{
          @include transition (all .3s ease-in-out);
          @include box-sizing(border-box);
          display: block;
          font-size: 220%;
          color: #9b9cb6;
          text-align: center;
          text-shadow: 0 -1px rgba(0,0,0, .5);
          //@include debug;
      } // icons

      //hover
      &:hover{
        background: rgba(0,0,0, .2);
        a.icon-symbol{
          color: tint(#eaeaea, 90%);
        }
      }//hover

        //active
      &.active{
        background: rgba(0,0,0, .5);
        a.icon-symbol{
          color: #fff;
        }
      }
      //first
      &:first-child{
        a.text{border-top: 0;}
      }
      //last
      &:last-child{
        a.text{border-bottom: 0;}
      }
    } //end li
  }//end ul
}//end nav
/*
|--------------------------------------------------------------------------
| Main structure
*/
#main {
  @include box-sizing(border-box);
  @include transition (all .3s ease-in-out);
  -webkit-overflow-scrolling: touch;
  padding: 3em 4em;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
/*
|--------------------------------------------------------------------------
| Page
*/
#page{
  //@include debug();
  @include centered($page_width,$page_height);
}
#controlsWrapper{
  //@include debug(green);
  //some defaults
  $active_color: #34353B;
  $control_size:40px;
  @include linear-gradient(to right, #d0c9c9, #f7f5f5);
  @include size($control-size*2);
  @include transition (all .3s ease-in-out);
  @include user-select(none);
  border-radius: $control-size;
  z-index: 1000;
  position:absolute;
  bottom: 25px;
  right: 25px;
  opacity: .5;
  &:hover{
    opacity: .9;
  }
   //arrows
  a{
    //@include debug();
    @include transition (all .2s ease-in-out);
    @include size($control_size);
    color:$active_color;
    position:absolute;
    text-align: center;
    line-height: $control_size;
    font-size: 2em;
    display: block;
    &:hover{
      color: shade(#000, 20%);
      cursor: pointer;
    }
    &.disabled{
      cursor: default;
      font-weight: normal;
      color: tint($active_color, 60%);
    }
    &.up{top:-$control_size / 2;left:$control_size / 2;line-height: $control_size + 20;}
    &.down{bottom:-$control_size / 2;left:$control_size / 2;line-height: $control_size - 20;}
    &.left{top:$control_size / 2;left:-$control_size / 2;text-align:right;}
    &.right{top:$control_size / 2;right:-$control_size / 2;text-align:left;}
  }
}
#timemachine{
  @include perspective(300px);
  @include transform-style(preserve-3d);
  position: relative;
  width: 100%;
  height: 100%;
  .project{
    @include user-select(none);
    @include transition (all .2s ease-in-out);

    &>div{
      //@include transition (all .1s ease-in-out);
    }
    width: inherit;
    height: inherit;
    position:absolute;

    @include transform-origin(center top);
    background: transparent url(../images/browser.png) no-repeat center center;
    &.future{
      opacity: 0;
      visibility: hidden;
    }
    &.past{
      opacity: 0.5;
      &>div{
        visibility: hidden;
      }
      &:nth-last-child(n+6) {
        //opacity: 0;
      }

    }
    &.current{
      opacity: 1;
      visibility: visible;
      @include box-shadow(0 0 25px 3px hsla(0, 0%, 0%, 0.65));
      &>div{
        visibility: visible;
      }
    }
  }
}
//Inner Slider
$default-width-page: 805px;
$default-height-page: 410px;
.browser-page{
  //@include debug;
  position:relative;
  margin: 40px auto;
  @include size($default-width-page $default-height-page);
}

/*Slider*/
.rs-slider{
  //display: none; //show after imagesloaded
}
.show-caption{
  display: block;
  @include size(50px);
  margin: 0 auto;
  position:relative;
  top: -30px;
}
.caption{
    display: none;
    background:rgba(#dedede, 0.7);
    @include linear-gradient(to top, rgba(#d0c9c9, 1), rgba(#f7f5f5, 1));
    height: 275px;
    position:absolute;
    bottom: -80px;
    right: 25px;
    width: 280px;
    border-radius: 7px;
    padding: 1em;
    font-size: 0.6em;
    font-family: 'helvetica';
    color: #333;
    text-shadow: 1px 1px rgba(#eee, 0.5);
    line-height: 1.3em;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    .toggle-caption {
      float: right;
      width: 15px;
      height: 20px;
      top: -2px;
      color: #222;
      position: relative;
      right: -5px;
    }
    .details {
      height: 200px;
      overflow: hidden;
    }
    p {
      margin: 5px 0;
    }
    h2 {
      font-size: 1.3em;
      color: #222;
      font-weight: bold;
      margin-bottom: 10px;
    }
    h3, h3 a {
      font-size: 1em;
      margin: 4px 0;
      color: #4A4B69;
      font-weight: bold;
      text-decoration: none;
    }
    h4{
      color: #4A4B69;
      font-weight: bold;
      margin: 6px 0;
    }
    .thumbs {
      margin-top: 10px;
      li {
        width: 70px;
        cursor: pointer;
        img {
          border-radius: 4px;
          box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
        }
      }
    }
}
/*Slides*/
.rs-slider{
  //visibility: hidden;
}
.rs-slider .rs-slide {
  @include size($default-width-page $default-height-page);
  margin: 0 auto;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  //-webkit-transform: translate3d(0,0,0);
  // &:hover{
  //   overflow-y: scroll;
  // }
}
.rs-slider .rs-slide img{
  @include user-select(none);
  display: inline-block;
  width:100%;
}
/*Slider Nav*/
.rs-wrapper .controls{
    background: rgba(127,127,127,.5);
    color: white;
}
/*Progress bar*/
.rs-progress{
    background: rgba(127,127,127,.5);
}
.rs-progress .bar{
   @include linear-gradient(to bottom, #d0c9c9, rgb(219, 212, 212),  #d0c9c9);
}

/* RSlider Css Cusomize */

/*Slider Nav*/
.carousel{
  //visibility: hidden;
}
.rc-wrapper .controls{
    background: rgba(127,127,127,.5);
    color: white;
}
/*Progress bar*/
.rc-progress {

}
.rc-progress .bar{
    background: #000;
}
/*Slider*/

/*Slides*/
.carousel li.selected{

}
.carousel li.selected img{
    opacity: 1;
}
.carousel li img{
    opacity: .5;
    display: inline-block;
    max-height:100%;
    max-width:100%;
}
